* {
    margin: 0;
    box-sizing: border-box;
}

.container {}

/*logo and banner*/

header {
    height: 150px;
    background-image: url(../img/pattern.png);
    background-color: dodgerblue;
    background-size: contain;
}



#logo {
    height: 50px;
    margin-top: 75px;
}

/*title and img*/

h1 {
    font-size: 40px;
}

#autor {
    color: grey;
    display: block;
}

#referal-link {
    text-decoration: none;
    color: rgb(17, 154, 213);
}

#date {
    color: grey;
    display: block;
    font: size 0.5em;
    margin-bottom: 20px;

}

figcaption {
    font-size: small;

}

/* Main article*/

p {
    margin-top: 30px;
    margin-bottom: 30px;
}

.enfasis {
    background-color: yellow;
}

/* Data Tab*/

table {
    margin-top: 30px;
    text-align: justify;
    border-spacing: 0;


}

th {
    background-color: dodgerblue;
    color: aliceblue;

}

tr {
    background-color: aquamarine;

}



.table-detail {
    width: 50%;
}

#important-data {
    background-color: white;
}